/* .table-hover.thead {
    background-color: blue;
    color: cornsilk;
} */
/* th {
    background-color: rgb(14, 10, 241); 
   background-color: rgba(3, 130, 248, 0.808);
   color: white;
  } */
  body{
    
    margin: 0;
    padding: 20px;
    font-family: sans-serif;  
  }
  *{
      box-sizing: border-box;
  }
  h1{
      font-weight: bold;
      color: #1b6ec2;
  }
  .table{
      width: 100%;
      border-collapse: collapse;
  }
  .table td, .table th{
      padding: 7px 15px;
      border: 1px solid #ddd;
      text-align: center;
      font-size: 16px;
  }
  .table th{
      background-color: #1b6ec2;
      color: #ffffff;
  }
  /* .table td{
    margin-bottom:15px;
    border: 0.1px solid rgb(69, 146, 209);
  } */
  /* .table tbody tr:nth-child(even){
      background-color: rgb(219, 235, 241);
  } */
  input{
    border: 1px solid rgb(69, 146, 209);
    align-self: auto;
  }
 /* .table tbody{
     background-color: white;
 } */
 