<body>
  
    <div class="row">
          <div class="col-6">
          <h1>Personas</h1>
            <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Nombre">
          </div>
        </div>
        <hr>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Sexo</th>
          <th scope="col">Edad</th>
          <th scope="col">Departamento</th>
          <th scope="col">Ciudad</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let persona of personas; index as i">
          <td scope="row">{{ i + 1 }}</td>
          <td class="text-right">{{ persona.personaId | number}}</td>
          <td class="text-left text-capitalize">{{ persona.nombre }}</td>
          <td class="text-left text-capitalize">{{ persona.apellidos }}</td>
          <td class="text-left text-capitalize">{{ persona.sexo }}</td>
          <td class="text-right">{{ persona.edad }}</td>
          <td class="text-left text-capitalize">{{ persona.departamento }}</td>
          <td class="text-left text-capitalize">{{ persona.ciudad }}</td>
          
        </tr>
        </tbody>
      </table>
         
       </body>
